<section id="home">
    <!-- content section -->
    <div class="content">
       <p id="first">Are you hungry ?</p>
       <h1>Don't Wait !</h1><br>
       <p id="second">Let you start order food now and enjoy this moment thanks for visiting !</p>
      <a href="#menu-section"><button id="btn" >Go to Menu</button></a> 
    </div>
    
</section>
