    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Food</title>
    <!-- Css -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/shop_cart.css">
    <link rel="stylesheet" href="css/order.css">
    <link rel="stylesheet" href="/css/status.css">
    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- All Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
<!-- Fontawesome Icon -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
    <script src="https://kit.fontawesome.com/891dd0f0bd.js" crossorigin="anonymous"></script>
    