*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --main-color:black;
}

body{
    min-height: 100vh;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.outer-div
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 80vh;
}

.main-div
{
    display: flex;
    border: 1px solid rgb(211, 208, 208);
    padding: 30px;
    border-radius: 5px;
}

.main-div .img-section .main-img
{
    width: 300px;
    height: 300px;
    margin-left: 21px;
}

.main-div .img-section .image-related
{
    width: 100px;
    height: 100px;
    margin:0 5px;
    border-radius: 3px;
}

.image-related
{
     transition:all 0.5s ease-in-out;
}

.image-related:hover
{
    background-color:white;
    opacity:0.5;
}

.main-div .img-section .related-image
{
    margin-top:40px;
}

.main-div .img-section
{
    padding: 10px;
}

.right-side
{
    padding: 10px;
    margin-left: 20px;
}

.product-details-and-qty
{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.buy-fav-price {
    display: flex;
    justify-content: space-between;
    width: 144px;
    padding: 5px;
    margin-top: 26px;
    /* align-items: center; */
    flex-direction: column;
}

.Qty
{
    display: flex;
    margin-top: 50px;
}

.Qty li{
    list-style:none;
}

.buy-fav-price .buy
{
    border:none;
    padding: 7px 30px;
    color:#fff;
    background: var(--main-color);
    outline: none;
    border-radius: 20px;
    margin-top: 86px;
    transition: all 0.5s ease-in-out;
}

.buy-fav-price i
{
    color: red;
    font-size: 20px;
}

.price
{
    font-weight: 500;
    font-size:20px;
    font-style: bold;
}

.buy:hover
{
    background: rgb(54, 53, 53);
}

.Qty button
{
    padding: 7px 9px;
    border:none;
    background-color:var(--main-color);
    color: #fff;
    outline: none;
    cursor: pointer;
}

 .previous
{
    border-radius: 5px 0 0 5px;
}

.next
{
    border-radius: 0 5px 5px 0;
}

.qty-input
{
    width:40px;
    height: 38px;
    outline: none;
    border-bottom:0.5px solid rgb(175, 171, 171);
    border-top:0.5px solid rgb(175, 171, 171);
    text-align: center;

}

@media(max-width:990px)
{

.main-div
{
    border: none;
}
    
.main-div .img-section .main-img
{
    width: 270px;
    height: 270px;
    margin-left: 21px;
}

.product-details-and-qty {

    margin-top: 84px;
}

.main-div .img-section .related-image {
    display: flex;
    flex-wrap: wrap;
}

.main-div .img-section .image-related
{
    
    margin:5px 5px;
    flex:1 1 80px;

}


.outer-div
{
    margin-top: -37px;
}


}


@media(max-width:800px)
{
    .outer-div
    {
        margin-top: -37px;
    }


    .main-div .img-section .main-img {
        width: 242px;
        height: 242px;
         margin-left: 0;
    }
}

@media(max-width:600px)
{
    .main-div .img-section .main-img {
        width: 111px;
        height: 111px;
        margin-left: 0px;
    }

    .outer-div{
        margin-top: .2rem;
    }

 

}

@media(max-width:480px)
{
    .main-div .img-section .main-img {
        width: 187px;
        height: 187px;
        margin-left: 53px;
    }

    .main-div {
        border: none;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:320px)
{
    .main-div .img-section .main-img {
        width: 147px;
        height: 147px;
        margin-left: 25px;
    }

    .main-div{
        width: 282px;
    }

    .right-side {
        padding: 10px;
        margin-left: -17px;
    }
}